<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Unofficial Punter Server </title>
        <link rel="stylesheet" type="text/css" href="/static/styles.css">
    </head>

    <body>
        <ul class="navigation">
            <li {% if request.endpoint == 'leaderboard' %}class="active"{% endif %}><a href="{{ url_for('leaderboard') }}">Leaderboard</a></li>
            <li {% if request.endpoint == 'lastgames' %}class="active"{% endif %}><a href="{{ url_for('lastgames') }}">Last games</a></li>
            <li {% if request.endpoint == 'instructions' %}class="active"{% endif %}><a href="{{ url_for('instructions') }}">Instructions</a></li>
            <!--<li {% block aboutactive %}{% endblock %} style="float: right;"><a href="/about">About</a></li>-->
        </ul>
        
        {% block content %}{% endblock %}
        
    </body>
</html>