{% extends "base.html" %}
{% block content %}
<h2>{{ name }}</h2>
<p><i>Games played:</i> {{ games }}<br />
<i>Rating:</i> {{ rating | round }}<span class="hidden">, mu: {{ mu }}, sigma: {{ sigma }}</span></p>

<div class="tabbed">
    <a href="{{ url_for('lastgames', playerID=playerID) }}">list of games</a>
</div>
<div class="tabbed">|</div>
<div class="tabbed">
    <a href="{{ url_for('lastgames', playerID=playerID, errors=true) }}">list of games with error</a>
</div>
<div class="tabbed">|</div>
<div class="tabbed">
    <a href="{{ url_for('playerrating', playerID=playerID) }}">rating changes</a>
</div>

<br /><br />
<hr align="left" />
<div class="tabbed">Compare to: </div><br />
{% for p in others %}
    <div class="tabbed"><a class="weak" href={{ url_for('playerscompare', player=[playerID, p[0]])}}>{{ p[1] }}</a></div>
{% endfor %}
{% endblock %}
