# Copy to config.py and edit as necessary.

DB_ADDRESS = '127.0.0.1'
DB_PORT = '5432'
DB_NAME = 'my_db'
DB_WRITE_USER = 'postgres'
DB_WRITE_PASSWORD = 'password'
DB_READ_USER = 'reader'
DB_READ_PASSWORD = 'readpassword'

GAME_SERVER_ADDRESS = '127.0.0.1'
GAME_SERVER_PORT = 42349

WEB_SERVER_PORT = 5017
FLASK_DEBUG = True
GAMES_PER_PAGE = 5

USE_HINTCHECK = True
