
/* color scheme */

:root {
    --darkcolor: #555;
    --verydarkcolor: #333;
    --lightcolor: #aaa;
    --hovercolor: #ddd;
    --highlightcolor: #ED7014;
    --highlightercolor: #F98228;
}

/* main text */

p, li, th, td {
    font-family: 'verdana';
    font-size: 10pt;
}

p, ul {
    line-height: 125%;
}

h2 {
    font-family: 'arial';
    font-size: 16pt;
    font-weight: normal;
}

p, h2 {
    margin: 14px;
}

span.json {
    font-family: monospace;
    color: var(--darkcolor);
}

span.hidden {
    color: white;
}

/* links */

a:link {
    color: var(--highlightcolor);
    text-decoration: none;
}

a:visited {
    color: var(--highlightercolor);
}

a:hover {
    color: var(--highlightercolor);
}

div.tabbed {
    display: inline-block;
    margin: 12px;
}

/* navigation bar */

ul.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: var(--darkcolor);
}

ul.navigation li {
    float: left;
}

ul.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.navigation li a:hover:not(.active) {
    background-color: var(--verydarkcolor);
}

ul.navigation li.active {
    background-color: var(--highlightcolor);
}

/* leaderboard and lastgames table */

table {
    border-spacing: 1px;
    border: none;
    border-bottom: 1px solid var(--lightcolor);
    align-self: center;
}

td, th {
    border: none;
    padding: 7px 12px;
}

td.text, th.text {
    text-align: left;
}

td.number, th.number {
    text-align: right;
}

tr:hover {
   background-color: var(--hovercolor); 
}

th {
    border-bottom: 1px solid var(--lightcolor);
    color: var(--darkcolor);
}

/* tabs in game statistics */

button.tablinks {
    color: white;
    background-color: var(--darkcolor);
    float: left;
    border: 1px solid var(--verydarkcolor);
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: 0.5s;
    width: 10em;
    margin: 0px 14px;
}

button.tablinks:hover {
    background-color: var(--highlightcolor)
}

button.tablinks.active {
    background-color: var(--highlightcolor)
}

div.tabcontent {
    display: none;
    border: 1px solid var(--verydarkcolor)
    border-top: none;
}

